extends layout


  
block meta
  title= entry.title
  meta(name='description', content='description of your site')
  meta(name='author', content= "Santeri Salonen")
  meta(property= 'og:title', content= entry.title)
  if (entry.leadImage)
    meta(property='og:image', content= asset(entry.leadImage))
  meta(property='og:description', content= entry.metaDescription)
  meta(property='og:url', content= rootAddress + entry._url)
  
block content

  h1#title= entry.title
  div#posttop
    img.author(src= "/img/santeri-salonen-w120.jpg", alt="Santeri Salonen")
    p by <span rel="author">Santeri Salonen</span>

  div#postbody
    if (entry.leadImage && !entry.hideLeadImage)
      img(class="lead-image" src!= asset(entry.leadImage, {w: 400 }))

    != marked(entry.text)

  div.postmeta#share
    h4.section-title If you wish to share...
   
    // linkedin    
    a.share-button(data-platform= "linkedin" target= "_blank", href= "https://www.linkedin.com/shareArticle?mini=true&url=" + rootAddress + entry._url + "&title=" + entry.title + "&summary=" + entry.metaDescription)= "Linkedin"
      
    // twitter
    a.share-button(data-platform= "twitter" target= "_blank", href= 'http://twitter.com/share?url=' + rootAddress + entry._url + '&text=' + entry.title +'&via=ssalonen')= "Twitter"
     
    // facebook
    a.share-button(data-platform= "facebook" target= "_blank", href= "https://www.facebook.com/sharer/sharer.php?u=" + rootAddress + entry._url)= "Facebook"
        
        
  div.postmeta#author
    h4.section-title About the author
    img.author(src= "/img/santeri-salonen-w120.jpg", alt="Santeri Salonen")
    strong Santeri Salonen
    p
      a(href='https://www.twitter.com/ssalonen')= "@ssalonen on Twitter" 
    p
      a(href='https://www.linkedin.com/in/santerisalonen/')= "On Linkedin" 
    div.break
    p
      a(href='/page/about.html')= "Read more about this blog."
      
      
  div.postmeta#published
    small.published= "published: " + func.formatDate(entry.sys.createdAt)
    if typeof entry.sys.updatedAt !== "undefined"
      small.updated= "updated: " + func.formatDate(entry.sys.updatedAt)
        
  
  